alembic==1.16.5
asyncmy==0.2.10
bcrypt==3.2.2  # 4.3.0 → 3.2.2로 변경
click
colorama
itsdangerous==2.2.0
Mako==1.3.10
MarkupSafe==3.0.2
passlib==1.7.4
pydantic
pydantic-settings
PyJWT==2.9.0
PyMySQL==1.1.2
python-dotenv
requests
SQLAlchemy==2.0.43
typer
Werkzeug==3.0.3